/docker/node/bin
/docker/node/bt.log
/docker/node/debug.log
/docker/node/error_bt.log
/.direnv
/.env
/.envrc.private
/.vscode
/database/
/docker-compose.override.yml
yarn.error
yarn-error.log
node_modules
