(common) {
    gzip
    realip cloudflare

    log / stdout {combined} {
        except /ping.txt /ping.php
    }

    tls {
        must_staple
    }

    header / {
        Cache-Control "public, no-cache, must-revalidate"
        Referrer-Policy "no-referrer"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block; report=\"https://atte.report-uri.com/r/d/xss/enforce\""
        -Public-Key-Pins
        -Server
        -Strict-Transport-Security
        -X-Powered-By
    }
}

(main) {
    import common

    root /var/www/html

    index index.php
    fastcgi / bt-php:9000 php
}

http://{$DOMAIN}:{$HTTP_PORT},
http://www.{$DOMAIN}:{$HTTP_PORT} {
    import main

    redir {
        if {path} not_starts_with /api/
        if {~bt-migrated} is 1
        / https://{$DOMAIN}:{$HTTPS_PORT}{uri}
    }

    rewrite / {
        if {path} not_starts_with /api/
        to /api/migrate_page.html
    }
}

https://www.{$DOMAIN}:{$HTTPS_PORT} {
    redir {
        if {~bt-migrated} is 1
        / https://{$DOMAIN}:{$HTTPS_PORT}{uri}
    }

    redir {
        if {~bt-migrated} not 1
        / "http://www.{$DOMAIN}:{$HTTP_PORT}/api/migrate_page.html#{uri}"
    }
}

https://{$DOMAIN}:{$HTTPS_PORT} {
    import main

    header /api/migrate_frame.html {
        -X-Frame-Options
    }

    redir {
        if {~bt-migrated} not 1
        if {path} not /api/migrate_frame.html
        / "http://{$DOMAIN}:{$HTTP_PORT}/api/migrate_page.html#{uri}"
    }
}

https://{$CDN_DOMAIN}:{$HTTPS_PORT} {
    import main

    status 404 /404
    rewrite / {
        if {file} ends_with .html
        if {file} ends_with .php
        if_op or
        to /404
    }

    rewrite /sha1/ {
        regexp ^/[^/]+/(.+)$
        to /sha1/{1}
    }

    # browser 1 day, cache 1 month, stale while revalidate for 1 hour
    header / Cache-Control "public, max-age=86400, s-maxage=262974, stale-while-revalidate=3600"

    # 1 year, stale while revalidate for 1 hour, never changes
    header /sha1/ Cache-Control "public, max-age=31557600, stale-while-revalidate=3600, immutable"
}

http://{$DOMAIN}:{$NODE_HTTP_PORT},
https://{$DOMAIN}:{$NODE_HTTPS_PORT},
http://www.{$DOMAIN}:{$NODE_HTTP_PORT},
https://www.{$DOMAIN}:{$NODE_HTTPS_PORT} {
    import common

    tls {
        alpn http/1.1
    }

    proxy / http://bt-node:8344 {
        transparent
        websocket
    }
}
