/* Etc. */
#cookieconsent-image {
    float: right;
    margin-left: 1em;
    height: 100px;
    min-width: 45px;
}
.fifty, .wrapper.fifty{
    width: 50%;
	background: url(/images/50.png);
	padding:10px;
}
body {
	min-width: 1200px;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
#videowrap {
    margin: 0 auto;
}
#scBackground {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}
#scPlayer {
	height: 170px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	border: 0px none;
}
#scVolumeSliderWrap {
	height: 168px;
	width: 40px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	background-color: #F5F5F5;
}
#scVolumeSlider {
	height: 140px;
	width: 10px;
	margin: 15px;
}
#leftpane {
	float: left;
	background-color: black;
}
#rightpane {
    float: right;
}
#userOps {
    list-style: none outside none;
    margin: 10px;
    padding: 0;
}
#userOps .btn {
    border: 1px solid;
    cursor: pointer;
    margin: 4px 0;
    padding: 4px;
    text-align: center;
}
#userOps .btn.half {
    height: 12px;
    line-height: 14px;
}
#userOps .small {
    text-align: center;
    width: 30px;
}
#userAliases {
	list-style: none outside none;
    margin: 10px;
    padding: 0;
	font-style: italic;
}
#userAliases li {
	font-size: 14px;
}
#userCmds {
	background: red;
    position: absolute;
    z-index: 10;
}
#userCmds {
    background: none repeat scroll 0 0 white;
    border: 3px solid;
    color: black;
    position: absolute;
    z-index: 10;
}
#userCmds h1 {
    font-size: 25px;
    margin: 5px 10px;
    text-align: center;
	cursor: move;
}
#userCmds .btn.close {
    background: none repeat scroll 0 0 red;
    border: 3px solid black;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -26px;
    text-align: center;
    top: -3px;
    width: 20px;
}

#mailDiv {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 995;
}
#mailboxDiv {
	background-color: #222222;
	border: 1px solid #D3D3D3;
	font-size: 11px;
	color: #D3D3D3;
	padding: 5px 5px 2px 5px;
	z-index: 995;
}
#mailMessageDiv .timestamp {
	font-size: 9px;
	font-style: italic;
	margin-right: 5px;
}
#mailMessageDiv .nick {
	font-weight: bold;
	margin-right: 5px;
}
#mailMessageDiv a {
    color: #4DCCFF;
}
#mailMessageDiv a:visited {
    color: #E749B8;
}
#mailButtonDiv {
	background-color: #222222;
	border: 1px solid #D3D3D3;
	display: inline-block;
	border-top: none;
	margin-left: 5px;
	z-index: 995;
	padding: 4px 4px 1px 4px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#mailButtonDiv:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}
#mailButtonDiv.expanded {
	opacity: 1.0;
	filter: alpha(opacity=100);
}
#mailButtonDiv.new {
	border-color: #FF0000;
	border-width: 2px;
}
#mailDiv .btn {
	background-color: #444444;
	border: 1px solid #D3D3D3;
	font-size: 10px;
	color: #D3D3D3;
	margin: 5px;
}

/* Video/playlist */
#playlist {
	clear: both;
}
#playlist .viewport {
	height: 350px;
	overflow: hidden;
	position: relative;
}
#playlist .overview {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
}
#playlist .scrollbar {
	position: relative;
	float: right;
	width: 15px;
}
#playlist .track {
	height: 100%;
	width: 14px;
	position: relative;
}
#playlist .thumb {
	height: 20px;
	width: 14px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
}
#playlist .thumb .end {
	overflow: hidden;
	height: 5px;
	width: 14px;
}
#playlist .disable {
	display: none;
}
#playlist ul {
	list-style: none outside none;
    margin: 0;
    padding: 0;
}
#playlist .viewport ul li {
	font-size: 10px;
	margin: 3px;
	padding: 3px;
	display: flex !important;
	align-items: center;
}
#playlist ul li.history {
	border-style: dashed;
	opacity: 0.75;
}
#playlist ul li .title {
	width: 100% !important;
}
#playlist.searching ul li .title:before {
    content: attr(active-offset);
	opacity: 0.75;
}
#playlist ul .time {
	display: flex;
}
#plstats {
    font-size: 1.1em;
    height: 1.3em;
    line-height: 1.3em;
    position: relative;
}
#plstats .totalVideos {
    left: 5px;
    position: absolute;
    top: 0.05em;
}
#plstats .totalLength {
    position: absolute;
    right: 5px;
    top: 0.05em;
}
#playlistAddControls .note {
    font-size: 16px;
    text-align: center;
}
#playlistAddControls .import input {
    border: 0;
    height: 100%;
	padding: 0;
}
#playlistAddControls .impele {
    border: 1px solid;
    float: left;
    height: 30px;
    margin: 3px;
	position: relative;
}
#playlistAddControls .impele.btn {
    cursor: pointer;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
#playlistAddControls .misc.btn {
    border: 1px solid white;
    cursor: pointer;
    float: left;
    margin: 5px;
    padding: 5px;
}
#addVolatButton {
	display: none;
}
.admin #addVolatButton, .mod #addVolatButton, .assistant #addVolatButton {
	display: block;
}
.slideBtn{
    cursor: pointer;
    font-family: courier new;
    font-size: 11px;
    margin: 5px;
    text-align: center;
}

/* Chat */
#chatpane {
    height: 390px;
    position: relative;
	font-size: 13px;
}
#chatpane.admin #chatlist ul li {
	display: none !important;
}
#chatpane.admin #chatlist ul li.admin, #chatpane.admin #chatlist ul li.mod, #chatpane.admin #chatlist ul li.assistant, #chatpane.admin #chatlist ul li.sbanned {
	display: list-item !important;
}
.chatbuffer {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: 338px;
    left: 0;
    overflow-y: scroll;
	overflow-x: hidden;
    position: absolute;
    top: 20px;
}
.admin .chatbuffer, .mod .chatbuffer, .assistant .chatbuffer {
	height: 318px;
	top: 40px;
}
.chatbuffer .pollNote {
    color: green;
    font-size: 18px;
    margin: 5px;
    text-align: center;
}
.chatbuffer .message, #rcvOverlay .message {
    margin: 5px 5px 5px 15px;
    padding: 0;
    word-wrap: break-word;
}
.chatbuffer .message .nick, #rcvOverlay .message .nick {
    padding-right: 5px;
}
#rcvOverlay {
	position: absolute;
	z-index: 1;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	top: 20px;
}
#chatbuffer .sbanned  {
	display: none;
}
.showSBChatter #chatbuffer .sbanned  {
	display: inline;
	text-decoration: line-through;
	font-style: italic;
}
.showSBChatter #chatbuffer .sbanned :hover {
	text-decoration: none;
}
.showTimestamps .timestamp {
	display: inline;
}
.hideChatFlair .flair {
	display: none;
}
.timestamp {
    font-size: 0.7em;
    font-style: italic;
    margin-right: 5px;
	display: none;
}
.chatbuffer .message.drink {
    margin: 0 0 0 15px;
    padding: 7px 39px 7px 0;
}
.chatbuffer .drinkWrap .drink .multi {
    font-size: 20px;
    font-weight: bold;
}
.sweetiebot .msg {
    font-family: courier new,monospace;
}
#drinkWrap {
    font-size: 40px;
    text-align: center;
}
#chatControls {
    color: black;
    font-size: 11px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
	line-height: 20px;
}
#chatinput {
    bottom: 0;
    height: 30px;
    left: 0;
    position: absolute;
}
#chatinput input {
    bottom: 0;
    height: 30px;
    left: 0;
    position: absolute;
    width: 100%;
	padding: 0;
	margin: 0;
    border: 0 none;
}
#chatlist {
    border-left: 1px solid black;
    border-top: 1px solid black;
    height: 369px;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 20px;
}
#chatlist ul {
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 5px;
	font-weight: bold;
}
#chatlist ul li {
    margin: 5px;
	cursor: pointer;
}
#chatlist ul li.nobody {
	cursor: default;
}
#chatlist ul li.note .chatlistname:after {
	content: url('/images/note.png');
	padding-left: 10px;
}
.chatbuffer.wide, #chatinput.wide, #rcvOverlay.wide, #chattabs.wide {
    width: 100%;
}
#connectedCountWrapper {
    color: black;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
#connectedCount {
    font-weight: bold;
    margin-left: 5px;
}
#logFilters select {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
#logBuffer {
    width: 100%;
    height: 500px;
    overflow-y: auto;
	font-size: 13px;
	margin: 5px;
}
#logBuffer th {
    text-align: left;
    background: #eee;
}
#logBuffer th, #logBuffer td {
    padding: 3px;
}
#logBuffer td {
    vertical-align: top;
}
#logBuffer .createdAt {
    display: flex;
}
#logBuffer .createdAt .date {
    margin-right: 5px;
}
#logBuffer .message {
	margin-bottom: 4px;
	position: relative;
}
#logBuffer .nickwrap {
	width: 175px;
	display: inline-block;
	position: absolute;
}
#logBuffer .nick {
	font-weight: bold;
	margin-right: 5px;
}
#logBuffer .msg {
	margin-left: 175px;
}
#logBuffer tr.filtered {
    display: none !important;
}

#logBuffer > table {
	width: 100%;
}

/* Polls */
#pollControl {
	display: none;
}
#pollControl .options {
    clear: both;
    display: none;
    padding: 0 15px 15px;
}
.poll.active .btn.obscure:after {
    content: "?";
}
#pollControl .mainbtns {
    float: right;
}
#pollControl .options .center {
	font-size: 21px;
    padding: 5px;
    text-align: center;
}
#pollControl .options .optionWrap {
    border: 1px solid #444;
    height: 30px;
	width: 300px;
    margin: 1px 0;
    display: flex;
    align-items: stretch;
}
#pollControl .options .optionWrap input[type="text"] {
    border: 0 none;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.optionWrap__two-thirds {
    display: flex;
    font-size: 12px;
    padding: 0 10px;
    align-items: center;
    background: #444;
    color: #fff;
    cursor: pointer;
    transition: background 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.optionWrap__two-thirds:hover {
    background: #7E349E;
}

.optionWrap__two-thirds.is-checked, .optionWrap__two-thirds.is-checked:hover {   
    background: #9B43C1;
}

.optionWrap__two-thirds-text {
    user-select: none;
}

.optionWrap__two-thirds-checkbox {
    pointer-events: none;
}

.optionWrap__two-thirds-text::before {
    content: "\2154 ";
}

#pollControl .options table input[type="text"] {
	width: 100%;
}
#pollControl .options table input.cb {
	width: 15px;
}
#pollControl .btn {
    background: none repeat scroll 0 0 lightgray;
    border: 1px solid;
    color: black;
    cursor: pointer;
    padding: 5px 10px;
	text-align: center;
	margin: 1px 0;
}
.c-split-btn-row {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 5px;
}
.c-poll-select__select {
    width: 100%;
    background: #eee;
    border: 1px solid #000;
    padding: 5px;
}
.poll-control {
	display: none;
	margin-top: 10px;
	background: rgba(0, 0, 0, .2);
	padding: 10px;
}
.poll-control.enabled {
	display: block;
}
.poll-auto-close {
    position: relative;
    display: none;
}
.poll-auto-close.enabled {
    display: block;
}
.poll-auto-close__time-left {
    background: rgba(0, 0, 0, .2);
    padding: 5px;
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
    margin-top: 10px;
    position: relative;
    z-index: 5;
}
.poll-auto-close__progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.poll-auto-close__progress-bar-inner {
    border-radius: 4px;
    background: #9A4ABEAA;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: width 500ms linear;
}
#pollpane .poll {
    border: 1px solid;
    margin: 3px 25px;
    padding: 10px 30px;
}
.poll ul {
	list-style: none;
    margin: 0;
    padding: 0;
}
.poll .btn {
	border: 1px solid;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 30px;
}
.poll .btn.close {
	background: none repeat scroll 0 0 darkred;
    float: right;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

/* mod-embedded images */
.img-filter > img {
    max-height: 150px;
    max-width: 100%;
}
body.bem-enabled .chatbuffer .img-filter > span {
    display: none
}
body:not(.bem-enabled) .chatbuffer .img-filter > img {
    display: none;
}

body.tweaked .ranked-poll__split {
    flex-direction: column;
}

.ranked-poll__split {
    display: flex;
}

.ranked-poll_input-panel {
    flex-grow: 1;
    flex-basis: 0;
}

body.tweaked .ranked-poll_input-panel {
    border-bottom: 5px solid rgba(255, 255, 255, .3);
}

.ranked-poll__results-panel {
    flex-grow: 1;
    flex-basis: 0;
}

.ranked-poll__title {
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.ranked-poll__title span {
    margin-right: 5px;
}

.ranked-poll__vote-count {
    font-size: 12px;
    color: rgba(255, 255, 255, .7);   
}

#pollpane .poll.ranked-poll {
    padding: 10px;
}

body.tweaked .ranked-poll__option {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    grid-template-rows: auto auto;
    background: rgba(0, 0, 0, .3);
    font-size: 12px;
    border-radius: 4px;
}

body.tweaked .ranked-poll__option-text {
    grid-column: 1 / 5;
    margin-top: 10px;
    grid-template-rows: auto auto;
}

.ranked-poll__option {
    padding: 5px;
    margin: 2px;
    transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    align-items: center;
    position: relative;
}

.ranked-poll__option:hover .ranked-poll__visualizer {
    opacity: 1;
}

.ranked-poll__option:hover .ranked-poll__votes {
    visibility: visible;
}

.ranked-poll__visualizer {
    position: relative;
    margin-right: 10px;
    text-align: center;
    opacity: .4;
    transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ranked-poll__votes {
    position: relative;
    z-index: 1;
    font-size: 12px;
    color: rgba(255, 255, 255, .7);   
    height: 30px;
    width: 15px;
    line-height: 30px;
}

.ranked-poll__visual-cells {
    align-self: stretch;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ranked-poll__visual-cells > .ranked-poll__visual-cell:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ranked-poll__visual-cells > .ranked-poll__visual-cell:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ranked-poll__visualizer.ranked-poll--is-empty {
    box-shadow: none;
}

button.ranked-poll__button, .ranked-poll__option-text {
    position: relative;
    z-index: 1;
}

button.ranked-poll__button {
    user-select: none;
    margin-right: 10px;
    height: 30px;
    width: 40px;
    line-height: 15px;
    border: none;
    font-size: 9px;
    text-align: center;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 4px;
    transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    font-weight: bold;
    letter-spacing: .08929em;
    text-transform: uppercase;
    outline: none;
    color: #fff;
    position: relative;
    background: var(--rank-color);
}

button.ranked-poll__button:disabled {
    cursor: pointer;
    opacity: .5;
}

button.ranked-poll__button.is-selected {
    opacity: 1;
    border: 2px solid #AF70CC;
    background: #9A4ABE;
    cursor: not-allowed;
}

button.ranked-poll__button.is-abstain {
    display: none;
}

button.ranked-poll__button.is-selected.is-abstain {
    background: #111;
    border: 2px solid #333;
}

button.ranked-poll__button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 4px;
    background: rgba(255, 255, 255, 0);
    transition: background 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

button.ranked-poll__button:hover {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

button.ranked-poll__button:hover::after {
    background: rgba(255, 255, 255, .1);
    display: block;
}

button.ranked-poll__button:active::after {
    background: rgba(255, 255, 255, .3);
    display: block;
}

.ranked-poll__clear-button {
    display: block;
    width: 100%;
    text-align: left;
    line-height: 30px;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    color: #fff;
    background: #707070;
    margin-top: 10px;
    font-size: 11px;
    opacity: .8;
}

.ranked-poll__clear-button:hover {
    opacity: 1;
}

.ranked-poll__clear-button:disabled {
    opacity: .4;
    cursor: default;
    color: #ddd;
}

.ranked-poll__option-text, .ranked-poll__poll-option-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.ranked-poll__option-text.is-two-thirds::before, .ranked-poll__poll-option-text.is-two-thirds::before {
    content: "\2154  required";
    font-size: 12px;
    color: #ddd;
}

.ranked-poll__submit-row {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.ranked-poll__instructions {
    font-style: italic;
    font-size: 13px;
}

button.ranked-poll__submit-button {
    margin-right: 10px;
}

.ranked-poll__status-bar {
    margin-top: 10px;
    font-size: 12px;
}

.ranked-poll__poll-result {
    margin-bottom: 10px;
}

.ranked-poll__poll-result-header {
    color: rgba(255, 255, 255, .8);
    background: rgba(0, 0, 0, .2);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    font-size: 14px;
    margin-bottom: 5px;
}

.ranked-poll__poll-result-header:hover {
    background: rgba(0, 0, 0, .5);
}

.ranked-poll__poll-result:nth-child(-n + 3) .ranked-poll__poll-result-header {
    cursor: default;
}

.ranked-poll__poll-option-result {
    display: flex;
    padding: 5px;
    align-items: center;
}

.ranked-poll__poll-option-votes {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: none;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 4px;
    transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    font-weight: bold;
    letter-spacing: .08929em;
    text-transform: uppercase;
    outline: none;
    color: #fff;
    position: relative;
    background: #707070;
    cursor: default;
}

.ranked-poll__poll-result-body {
    display: none;
}

.ranked-poll__poll-result:nth-child(-n + 3) .ranked-poll__poll-result-body {
    display: block;
}

.ranked-poll__split.is-closed .ranked-poll_input-panel {
    display: none;
}

.super-select {
    position: absolute;
    background: #fff;
    border: 1px solid black;
    z-index: 1000;
    margin-left: -6px;
    margin-top: -6px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.super-select__option {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
    padding: 5px;
    cursor: pointer;
}

.super-select__option::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100%);
    pointer-events: none;
}

.super-select__option:hover {
    filter: none;
}

/* Discord emotes can be slightly narrower than expected */
.berryemote[title$=" from /r/discordserver"] {
    background-repeat: no-repeat;
}

/* Maximize the players */
#ytapiplayer,
#ytapiplayer > iframe:not(#scPlayer),
#ytapiplayer #vjs_player {
	width: 100% !important;
	height: 100% !important;
	position: relative;
}

#scVolumeSlider .ui-slider-range {
	background: #C600AD;
}
