body {
    --colorWidth: 10px;
}
body {
    --colorRed: #ffa5a5;
    --colorOrange: #e6c386;
    --colorYellow: #f4f489;
    --colorGreen: #9ef49e;
    --colorBlue: #9494f0;
    --colorPurple: #ee95ee;
    --colorVolatile: #eee;
    --colorText: black;
    --colorShadow: white;
}
body.night {
    --colorRed: #c43a3a;
    --colorOrange: #d78137;
    --colorYellow: #9d8e2e;
    --colorGreen: #418e41;
    --colorBlue: #404093;
    --colorPurple: #553173;
    --colorVolatile: #eee;
    --colorText: white;
    --colorShadow: black;
}

#plul > li{
    color: var(--colorText)!important;
    text-shadow: 0 0 2px var(--colorShadow);
}
#plul > li.active{
    color: var(--colorText)!important;
    font-weight:bold;
    z-index: 0;
}
#plul > li:nth-child(6n) {
    background-color: var(--colorRed)!important;
}

#plul > li:nth-child(6n+1) {
    background-color: var(--colorOrange)!important;
}

#plul > li:nth-child(6n+2) {
    background-color: var(--colorYellow)!important;
}

#plul > li:nth-child(6n+3) {
    background-color: var(--colorGreen)!important;
}

#plul > li:nth-child(6n+4) {
    background-color: var(--colorBlue)!important;
}

#plul > li:nth-child(6n+5) {
    background-color: var(--colorPurple)!important;
}
#plul > li.volatile {
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px!important;
    border-image: repeating-linear-gradient(
        45deg,
        black,
        white var(--colorWidth),
        black calc(var(--colorWidth) * 2)
      )!important;
    border-image-slice: 1!important;
    padding: 2px;
    position: relative;
    overflow: hidden;
    z-index:1;
}
/* Kris-mode
#plul > li.active + li:before{
    position: absolute;
    content: '[GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] [GAY] ';
    font-weight: bold;
    font-size: 2em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    z-index:-1;
}*/

#plul > li.active {
    box-sizing: border-box;
    border-style: solid;
    border-width: 3px!important;
    border-image: repeating-linear-gradient(
        45deg,
        var( --colorRed ), 
        var( --colorOrange ) calc(var(--colorWidth) * 1),
        var( --colorYellow ) calc(var(--colorWidth) * 2), 
        var( --colorGreen )  calc(var(--colorWidth) * 3), 
        var( --colorBlue )   calc(var(--colorWidth) * 4), 
        var( --colorPurple ) calc(var(--colorWidth) * 5),
        var( --colorRed)     calc(var(--colorWidth) * 6)
      )!important;
    border-image-slice: 1!important;
    padding: 3px;
    position: relative;
    overflow: hidden;
    z-index:1;
}

/* Rainbow now playing (breaks progress indicator)
#plul > li.active {
    background-color: transparent!important;
    position: relative;
    overflow: hidden;
}
#plul > li.active::before{
    content: ' ';
    width:200%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    background: linear-gradient(
        120deg, 
        var( --colorRed ), 
        var( --colorOrange ), 
        var( --colorYellow ), 
        var( --colorGreen ), 
        var( --colorBlue ), 
        var( --colorPurple ), 
        var( --colorRed ), 
        var( --colorOrange ), 
        var( --colorYellow ), 
        var( --colorGreen ), 
        var( --colorBlue ), 
        var( --colorPurple ),
        var( --colorRed ), 
        var( --colorOrange ), 
        var( --colorYellow ), 
        var( --colorGreen ), 
        var( --colorBlue ), 
        var( --colorPurple ),
        var( --colorRed )
    )!important;
    animation-name: weeeee;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes weeeee {
    from {
        transform: translateX(-10%);
    }
    to { 
        transform: translateX(-43.3%);
    }
}
*/